*{   
    align-items: center;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    border: solid;
    height:100%;
    margin: 0;
}
.input{
    text-align: center;
    margin:100px 0;
}
input[type="text"]{
    height:50px;
    width:600px;
    align-items: center;
    background-color: rgba(113, 233, 233, 0.621);
    font-weight: bold;
    border-radius: 2px;
    padding: 10px 10px;
}
input[type="submit"]{
    height:50px;
    width:100px;
    margin-left: 500px;
    align-items: center;
    background-color: rgba(78, 91, 236, 0.511);
    font-weight: bold;}
    
.display{
text-align:center;
    }

.bgimg1{
    position:relative;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("bg2.jpg");
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    opacity: 0.95;
    overflow: auto;
}


